.blue-bg {
    background-color: #0099dc;
}

.orange-bg {
    background-color: #e67e22;
}

.pad-l-20 {
    padding-left: 20px;
}

.pad-l-40 {
    padding-left: 40px;
}

.fa-search {
    z-index: 1000;
    left: 33px;
    top: 1px;
    position: relative;
}

.card {
    position: relative;
    word-wrap: break-word;
    background-color: none;
    background-clip: border-box;
    border: none;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Barlow', sans-serif;
}

p,
a,
h1,
h2,
h3,
h4,
ul,
li,
span {
    font-family: 'Barlow', sans-serif;
}

a:hover {
    text-decoration: none;
}

.bottom-footer {
    background-color: #000000;
    color: #adadad;
    padding: 18px 0px 2px 0px;
}

.bottom-footer .obelix-dev {
    text-align: right;
}

.center-footer {
    background-image: url(../img/bottom-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 16px;
    line-height: 1, 2px;
    color: white;
    padding: 44px 0px 24px 0px;
}

.logo-footer img {
    width: 100%;
    filter: brightness( 200%) contrast( 200%) saturate( 0%) blur( 0px) hue-rotate( 0deg);
}

.foo-contact-1 {
    padding: 20px 0px 0px 70px;
}

.foo-contact-2 {
    padding: 20px 0px 0px 40px;
}

.center-footer i {
    margin-right: 10px;
}

.center-footer ul li {
    line-height: 32px;
}

.header-contact i {
    margin: 0px 10px 0px 0px;
    font-size: 24px;
}

.header-contact a {
    color: #333333;
}

.header-contact h3 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    color: #7A7A7A;
}

header {
    background-image: url(../img/bg-pattern.png);
    padding: 40px 0 24px 0px;
}

header .form-control {
    width: 90%;
    padding: 10px 10px 10px 47px;
}

header .icon-search {
    top: 34px;
    left: 16px;
    position: relative;
    font-size: 18px;
}

@media only screen and (max-width: 767px) {
    .foo-contact-1 {
        padding: 10px 10px 10px 10px;
    }
    .logo-footer {
        display: none;
    }
    .bottom-footer {
        text-align: center;
        line-height: 8px;
    }
    .obelix-dev {
        text-align: center!important;
    }
    header {
        padding: 0;
    }
    header .top-header {
        padding: 0;
    }
    header .top-header .header-contact {
        padding: 28px 15px 26px 60px;
    }
}

.navbarctm {
    overflow: hidden;
}

.navbarctm a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdownctm {
    float: left;
    overflow: hidden;
}

.dropdownctm .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbarctm a:hover,
.dropdownctm:hover .dropbtn {
    background-color: grey;
}

.dropdownctm-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdownctm-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdownctm-content a:hover {
    background-color: #ddd;
}

.dropdownctm:hover .dropdownctm-content {
    display: block;
}

.custummerdiv {
    padding-top: 15px;
}

.mr-3 {
    max-width: 80px !important;
    height: 80px;
}

.card-img-top {
    max-height: 170px !important;
}